/* Michael Osgood / PW Quiz */

body {
	text-align: center;
	text-shadow: 3px 3px 3px #000;
	color: white;
	font-family: 'Cormorant Unicase';
	font-size: 20px;
	background-color: black;
	background-image: url("https://img-s3.onedio.com/id-57a092e54b9d8b3c09cd2330/rev-0/raw/s-5bb8b779c9194dbba3093167e84733545199b97e.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

#title {
	color: white;
	font-family: 'Cormorant Unicase';
	font-size: 60px;
}

#wrapper {
	padding-top: 20%;
}

button {
	color: black;
	background-color: grey;
}

/* For screens that are smaller than 768px and larger than 640px*/
@media screen and (max-width:768px) {
	#title {
		font-size: 50px;
	}
	#wrapper {
		padding-top: 40%;
	}

}